.error
{
    background-image: resource("CollabError");
    margin-top: 2px;
    margin-left: 6px;
    height: 12px;
    width: 12px;
}

.buttons-area
{
    flex-direction: row;
    margin-bottom: 10px;
}

.folder-selector
{
    flex-direction: row;
    margin-top: 10px;
    margin-left: 4px;
}

ModularShadersGeneratorElement
{
    margin-left: 4px;
}